.main {
  flex: 1;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12.8rem;
  /* background-color: aqua; */
}

.main > span {
  font-size: 6.4rem;
  color: var(--white-tint-2);
}

.choiceCont {
  display: flex;
  flex-direction: column;
  gap: 9.6rem;
}

.choice {
  display: flex;
  gap: 8.2rem;
  list-style: none;
}

.choice li {
  padding: 5.2rem;
  border-radius: 0.5rem;
  font-size: 3rem;
  transition: all ease-in-out 0.5s;
  border: 2px dotted white;
  font-weight: 600;
}

.choice li:hover {
  cursor: pointer;
  color: var(--green);
  transition: all ease-in-out 0.5s;
  transform: scale(1.1);
  border: 2px dotted white;
}

.halfCircleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.halfCircle {
  opacity: 0.8;
  content: '';
  width: 26rem;
  height: 13rem;
  align-self: center;
  border-bottom-left-radius: 100rem;
  border-bottom-right-radius: 100rem;
  border: 1rem solid var(--green);
  /* border-top: none; */
}
