.watchVid {
  /* height: auto; */
  border: none;
  outline: none;
  /* box-shadow: ; */
  box-shadow: rgba(255, 255, 255, 0.08) 0px 6px 24px 0px,
    rgba(244, 242, 242, 0.08) 0px 0px 0px 1px;
}

.watchVid:focus {
  outline: none;
}

/* .videoCanvas {
  height: 300px;
  width: 300px;
  z-index: 99;
} */
